[submodule "2015"]
	path = 2015
	url = https://github.com/david-mccullars/aoc-2015
[submodule "2016"]
	path = 2016
	url = https://github.com/david-mccullars/aoc-2016
[submodule "2017"]
	path = 2017
	url = https://github.com/david-mccullars/aoc-2017
[submodule "2018"]
	path = 2018
	url = https://github.com/david-mccullars/aoc-2018
[submodule "2019"]
	path = 2019
	url = https://github.com/david-mccullars/aoc-2019
[submodule "2020"]
	path = 2020
	url = https://github.com/david-mccullars/aoc-2020
[submodule "2021"]
	path = 2021
	url = https://github.com/david-mccullars/aoc-2021
[submodule "2022"]
	path = 2022
	url = https://github.com/david-mccullars/aoc-2022
[submodule "2023"]
	path = 2023
	url = https://github.com/david-mccullars/aoc-2023.git
[submodule "2024"]
	path = 2024
	url = https://github.com/david-mccullars/aoc-2024.git
